@import "../base.css";

html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    font-family: "Poppins";
    font-size: 24px;
    text-align: center;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section > form{
    height: 50vh;
}

main > section > form > fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

body > main > section > header > h1{
    font-size: 2em;
    color: transparent;
    font-family: AlfaSlabOne;
    -webkit-text-stroke: 3px var(--primary-color);
}

body > main > section > form > fieldset >label{
    font-size: 0.7em;
}

body > main > section > form > fieldset >input[type="email"]{
    padding: 10px 20px;
    box-shadow: 0 0.25em 0.25em rgba(0,0,0,0.25);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-size: 0.6em;
    text-align: center;
}

body > main > section > form > fieldset > input[type="submit"]{
    padding: 15px 110px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 8px;
    font-size: 0.6em;
    font-family: "AlfaSlabOne";
}

/* Desktop*/
@media screen and (min-width: 768px) {
    html,body{
        font-size: 48px;
    }
    main > section > form > fieldset{
        gap: 50px;
    }
}