@import '../base.css';
@import '../navbar.css';

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    font-size: 1em;
    background-color: white;
}

main{
    height: 100%;
}

body > header {
    height: 5%;
    background-color: var(--secondary-color);
}

body > header > img{
    width: 1em;
    height: 1em;
    margin: 50px 10px;
}

body > main > section {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

body > main > section > h1{
    font-family: "Lobster";
    font-size: 2em;
}

body > main > section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap: 100px;
}

body > main > section:nth-child(2) > header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

body > main > section:nth-child(2) > header > h2{
    font-family: "Lobster";
    font-size: 1em;
}

body > main > section:nth-child(2) > header > h3{
    font-size: 0.7em;
    color: var(--secondary-color);
}

body > main > section:nth-child(2) > p{
    width: 90%;
    font-size: 1em;
    color: rgba(0,0,0,0.5);
}

body > main > section:nth-child(2) > footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

body > main > section:nth-child(2) > footer > p {
    font-size: 1.5em;
    color: var(--secondary-color);
}

/* Nav Bar */
nav > ul{
    border-radius: 0px;
}




/* Desktop */
@media screen and (min-width: 768px) {
    html, body {
        font-size: 1.3em;
    }
}