@import '../base.css';
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    animation: fade-in 2s ease 0s 1 normal forwards;
    font-size: 48px;
    overflow-x: hidden;
}

body>header {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body>header>h1 {
    margin-top: 2.5em;
    font-family: 'AlfaSlabOne';
    text-align: center;
    color: white;
    font-size: 1em;
    letter-spacing: -0.06em;
    -webkit-text-stroke: 0.06em var(--primary-color);
}

body>main {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body>main>section>img {
    width: 3em;
    height: 3em;
}

body > main > section{
    animation: slide-in-right 2s ease 0s 1 normal forwards;
}

body>main>section>h2 {
    font-size: 0.5em;
    font-weight: normal;
}

body>main>a {
    font-size: 0.3em;
    text-decoration: none;
    color: white;
    font-weight: normal;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

body>main>footer {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

body>main>footer>div>span {
    position: fixed;
    display: inline-flex;
    width: 0.2rem;
    height: 0.2rem;
    background: var(--gray-color);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    animation: pop-down ease 1s 1 normal forwards;
}

.item-active {
    background-color: var(--secondary-color);
    animation: pop-up ease 1s 1 normal forwards;
}

.page-hide {
    display: none;
    visibility: hidden;
}


/* Desktop */

@media screen and (min-width: 768px) {
    html,
    body {
        font-size: 72px;
    }
}