@import '../base.css';

html, body {
    --background-body: rgb(206, 220, 231);
}

h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 2em;
    font-family: AlfaSlabOne;
    margin: 1em 0;
}

main {
    background-color: var(--background-body);
    border-radius: 1em 1em 0 0;
}

main > section:first-of-type {
    padding-top: 1em;
    position: sticky;
    top: 0;
    background-color: var(--background-body);
    border-radius: 1em 1em 0 0;
}

main > section > h2 {
    color: black;
    font-size: 1.2em;
    margin: 0 2.5%;
}

/* list to select categories */
main > section > ul {
    list-style-type: none;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 1%;

    box-shadow: 0 1px 10px 1px var(--background-body);
}

main > section > ul > li {
    display: inline-block;
}

main > section > ul > li > button {
    margin: 1.5em 0.8em;
    padding: 1.2em 2em;
    background-color: whitesmoke;
    font-size: 1em;
    color: black;
    border-radius: 0.6em;
}

main > section > ul > li > button.selected {
    background-color: var(--text-color);
    color: white;
}

/* Grid layout to display article in page 
    5% padding - (45% column - 5% column-gap - 45% column - 5% column-gap)
    Treat as 100% for box-sizing: border-box
*/
main > section > div {
    display: grid;
    padding: 1em 0 2em 5%;
    grid-template-columns: 45% 45%;
    grid-auto-rows: 1fr;
    column-gap: 5%;
    row-gap: 1em;
}

/*
    Flex to align vertically items. Only p can grow to reach all same height
*/
main > section > div > article {
    padding: 1em;
    background-color: white;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > section > div > article > header {
    text-align: right;
}

main > section > div > article > header > a > img {
    width: 1.5em;
}

main > section > div > article > header > h3 {
    text-align: center;
    font-size: 1.6em;
}

/*
    The p can expand to all article remaining height.
    The exceded lines are clamped
*/
main > section > div > article > p {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;

    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

    flex-grow: 1;
}

nav {
    display: block;
    width: 100%;
    background-color: var(--background-body);
    position: sticky;
    bottom: 0;
}

nav > ul {
    display: flex;
    padding-top: 10px;
    border-radius: 1.5em 1.5em 0 0;
    background-color: white;
    justify-content: space-evenly;
    list-style-type: none;

    box-shadow: 0 -1px 10px 1px var(--background-body)
}

nav > ul > li > a > img {
    width: 2em;
}

@media screen and (min-width: 768px) {

    main > section > div {
        grid-template-columns: 20% 20% 20% 20%;
        column-gap: 5%;
    }
    
}