@import '../base.css';
html,
body {
    font-family: AlfaSlabOne;
    height: 100%;
}

h1 {
    margin: 1em 0;
    text-align: center;
}

main {
    margin: 1em 5%;
    width: 90%;
    min-height: 90%;
}

main>article {
    margin: 1em 0;
    padding: .25em .5em;
    background-color: var(--notification-unseen);
    border-radius: .5em;
}

main>article.seen {
    background-color: var(--notification-seen);
}

main>article>*::first-letter {
    text-transform: capitalize;
}

main>article:last-of-type {
    margin-bottom: 5.5em;
}

main>article>header {
    text-align: right;
}

main>article>header>button {
    text-align: right;
    width: 2em;
    height: 2em;
    background: white;
    color: transparent;
    cursor: pointer;
    -webkit-mask: url(../../res/img/icons/eye-open.svg) center / contain no-repeat;
    mask: url(../../res/img/icons/eye-open.svg) center / contain no-repeat;
}

main>article.seen>header>button {
    -webkit-mask: url(../../res/img/icons/eye-closed.svg) center / contain no-repeat;
    mask: url(../../res/img/icons/eye-closed.svg) center / contain no-repeat;
}

main>article>header>h2 {
    margin-top: -1em;
    margin-bottom: .5em;
    color: white;
    text-align: center;
    font-size: 1.6em;
}

main>article>p {
    color: white;
    font-size: 1.2em;
}

main>article>footer>p {
    color: white;
    text-align: right;
    font-size: .6em;
}

nav {
    background-color: white !important;
}

@media screen and (min-width: 768px) {
    main {
        margin: 1.5em 25%;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    main {
        margin: 1.5em 35%;
        width: 30%;
    }
}