@import '../buyer-page.css';

/*
Empty section error paragraph
*/

main>p {
    display: none;
    text-align: center;
    font-size: 2em;
    color: var(--text-color);
}

main>section>div {
    padding: 2em 5% 2em 5%;
}

main>section>div>article {
    margin: 1em 5%;
    padding: .25em .5em;
    background-color: var(--notification-unseen);
    border-radius: .5em;
}

main>section>div>article.seen {
    background-color: var(--notification-seen);
}

main>section>div>article>*::first-letter {
    text-transform: capitalize;
}

main>section>div>article:last-of-type {
    margin-bottom: 5.5em;
}

main>section>div>article>header {
    margin: 1em;
    text-align: right;
}

main>section>div>article>header>button {
    text-align: right;
    width: 2em;
    height: 2em;
    background: white;
    color: transparent;
    cursor: pointer;
    -webkit-mask: url(../../res/img/icons/eye-open.svg) center / contain no-repeat;
    mask: url(../../res/img/icons/eye-open.svg) center / contain no-repeat;
}

main>section>div>article.seen>header>button {
    -webkit-mask: url(../../res/img/icons/eye-closed.svg) center / contain no-repeat;
    mask: url(../../res/img/icons/eye-closed.svg) center / contain no-repeat;
}

main>section>div>article>header>h3 {
    margin-bottom: .5em;
    color: white;
    text-align: center;
    font-size: 1.6em;
}

main>section>div>article>p {
    margin: 1em;
    color: white;
    font-size: 1.2em;
}

main>section>div>article>footer>p {
    color: white;
    text-align: right;
    font-size: 1em;
}

@media screen and (min-width: 768px) {
    main>section {
        margin: 1.5em 15% 0;
        width: 70%;
    }
}