@font-face {
    font-family: AlfaSlabOne;
    src: url(/src/res/AlfaSlabOne-Regular.ttf);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AlfaSlabOne;
}

body {
    --primary-color: #9AC1D9;
    --secondary-color: #7AA5BF;
    --text-color: #1A3540;
}

h1 {
    margin-top: 2.5em;
    text-align: center;
    font-family: AlfaSlabOne;
    color: white;
    font-size: 3em;
    letter-spacing: -0.06em;
    -webkit-text-stroke: 0.06em var(--primary-color);
}

main > form > label {
    /* hidden, but visible for screen readers */
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

main > form {
    margin: 50px 5%;
    width: 90%;
}

main > form > input {
    margin-top: 1em;
    padding: 0.8em 0;
    width: 100%;
    
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    
    border: 2px solid var(--primary-color);
    border-radius: 0.6em;
    
    -webkit-appearance: none; /* for iphone box-shadow in form */
    box-shadow: 0 0.25em 0.25em #bbb;
}

main > form > section {
    margin-top: 3em;
}

main > form > section > a {
    display: inline-block;
    width: 40%;
    padding: 10px 0;
    margin: 0 5%;

    color: var(--primary-color);
    font-size: 1em;
    text-decoration: none;
    text-align: center;

    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 0.8em;
}

main > form > section > a:hover {
    color: white;
    background-color: var(--primary-color);
}

main > form > section > input {
    display: inline-block;
    width: 40%;
    padding: 10px 0;
    margin: 0 5%;
    
    color: white;
    font-size: 1em;
    text-align: center;

    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.8em;

    -webkit-appearance: none; /* for iphone box-shadow in form */
    box-shadow: 0 0.25em 0.25em #999;
}

main > form > section > input:hover {
    color: var(--primary-color);
    background-color: white;
}

@media screen and (min-width: 768px) {
    main > form > input {
        width: 30%;
        margin: 1em 35%;
    }

    main > form > section {
        width: 30%;
        margin: 3em 35%;
    }
}
